/* @media only screen and (max-width: 600px) {
    width: 400px;
  }
   */

.heading{
    position: relative;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    margin-top: 20px;
    letter-spacing:0.55em;
    transform: translate(1%,20%);
    margin:5px 0px;
    /* border: solid rgb(51, 51, 51) 2px; */
}
body{
    background-color: #FFDEE9;
    background-image: linear-gradient(to bottom right, #ff8eb3 0%, #76e4e0 100%);
    /* border: solid rgb(51, 51, 51) 2px; */
}
.mainBody{
    position: relative;
    /* position: absolute; */
    text-align: center;
    padding: 5% 22% 5% 22%;
    /* width: 100px; */
    /* border: solid rgb(51, 51, 51) 2px; */
}
.calbody{
display: inline-block;  
border: 2px solid rgb(59, 56, 56);
border-radius: 10px;
position:relative;
box-shadow: 0px 0px 8px rgb(44, 44, 44);
padding: 40px 10px;
margin: 0px 200px;
/* background-image: linear-gradient(to bottom right, #76e4e0,#77c9c6,#dda3b6, #ffaac7); */
}
#screen{
    border: solid rgb(51, 51, 51) 2px;
    position: relative;
    padding: 20px 30px;
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(156, 156, 156);
    outline: none;
    caret-color: transparent;
    background-color: rgb(221, 220, 220);
    font-family:monospace;
    font-size: 30px;
    font-weight:lighter;
}
input[type="text"]::placeholder{
    position: relative;
    left: 50%;
    font-size: 40px;
    transform: translate(0%,10%);
    color: rgb(95, 95, 95);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line{
    display: flex;
    justify-content: center;
}
.mainBody button{
    display: inline;
    border: solid 1px rgb(155, 155, 155);
    box-sizing: content-box;
    width: 6%;
    background-image: linear-gradient(to bottom right, #7cc4c1  0%, #ce95a9 100%);
    /* background-image: linear-gradient(to bottom right, #808080  0%, #f1f1f1 100%); */
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    color: rgb(66, 66, 66);
    font-size: 20px;
    opacity: 0.8;
}
#zerobtn{
    width:22%;
}
.mainBody button:hover {
    background-image: linear-gradient(to bottom right, #77e6d3 0%, #ee9fb7 100%);
    /* background-image: linear-gradient(to bottom right, #f1f1f1 0%, #777777 100%); */
    cursor: pointer;
    color: rgb(0, 0, 0);
}
